table {
    margin-top: 3%;
}

button {
    margin-top: 2%;
    margin-bottom: 15%;
}

.del {
    color: blueviolet;
}

.del:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.form-control {
    width: 25%;
    margin: auto;
    display: block;
    margin-bottom: 1.7%;
}

#ability {
    width: 25%;
    margin: auto;
    display: block;
}

#submit-details, #cancel-btn, #mf-done {
    margin-top: 3%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#name {
    text-transform: capitalize;
}

table td {
    text-transform: capitalize;
}

#more-info {
    text-decoration: underline ;
}